@font-face {
    font-family: UbuntuMono;
    src: url(MainFont.ttf);
}

:root {
    --hexagon-path: 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%;
    --progress-box: 0%;
    --progress-box2: 0%;
}

* {
	font-family: UbuntuMono;
    table-align: center;
	text-align: center;
    text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, 
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, 
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, 
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #0000;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

body {
    color: white;
    background-color: #222;
	overflow: hidden;
	font-size: 18px;
	margin: 0px;
	user-select: none;
}

button {
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    border: solid 2px black;
    background-color: #eee;
    border-radius: 10px;
    margin: 3px 5px;
}

table, tr {
    display: flex;
    justify-content: center;
}

/*
h1 {
    display: inline;
    font-size: 40px;
}

h2 {
	display: inline;
    font-size: 30px;
}
*/

h3 {
	display: inline;
    font-size: 25px;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.table_space {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.table_between {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.table_left {
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
}

.soft {
	color: hsl(237, 15%, 47%);
	font-weight: bold;
	pointer-events: none;
}

.hex {
    position: relative;
    -webkit-clip-path: polygon(var(--hexagon-path));
    clip-path: polygon(var(--hexagon-path));
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: white;
}

.hex-progress {
    position: absolute;
    -webkit-clip-path: polygon(var(--hexagon-path));
    clip-path: polygon(var(--hexagon-path));
    width: 96%;
    height: 96%;
    background-color: #111;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hex-progress::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #333;
    transition: height background-color;
    transition-duration: 0.25s;
}

#box1.hex-progress::after {
    height: var(--progress-box);
}

#box2.hex-progress::after {
    height: var(--progress-box2);
    background-color: #003;
}

.hex-progress.capped {
    cursor: pointer;
}

.hex-progress.capped::after {
    background-color: green;
}

#box2.hex-progress.capped::after {
    background-color: #0066ff;
}

.hex-progress.capped:hover::after {
    background-color: #00cc00;
}

#box2.hex-progress.capped:hover::after {
    background-color: #3388ff;
}

.hex-progress > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 24px;
    pointer-events: none;
}

#notify {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 2;
}

.notify_div {
    width: max-content;
    max-height: 60px;
    background-color: #eee;
    border: outset 3px grey;
    border-radius: 5px;
    margin: 3px;
    padding: 5px 10px;
    font-size: 20px;
    animation: notify 6s cubic-bezier(0.33, 1, 0.68, 1);
    text-align: right;
    color: white;
}

.notify_div.success {
    background-color: #9aff9a;
    border: outset 3px #0a7400;
}

.notify_div.warn {
    background-color: #f0ff9a;
    border: outset 3px #747200;
}

.notify_div.error {
    background-color: #ff9a9a;
    border: outset 3px #740000;
}

#notify > .notify_div:nth-last-child(n+11) {
    display: none;
}

@keyframes notify {
    0%,100% {
        transform: translateX(120%);
        opacity: 0;
    }
    15%,85% {
        transform: translateX(0);
        opacity: 1;
    }
}

.research-upg-div {
    position: relative;
    width: 290px;
    height: 150px;
    margin: 5px 35px;
}

.research-upg-div > div {
    width: calc(100% - 10px);
    height: calc(100% - 16px);
    background-color: #555;
    border: solid black;
    border-width: 3px 0;

    font-size: 14px;
    transition: background-color 0.25s;

    padding: 5px 5px;

    cursor: pointer;
}

.research-upg-div > button {
    position: relative;
    width: 32px;
    height: 100%;
    border: solid black;
    border-width: 3px 0;

    font-size: 14px;
    transition: background-color 0.25s;
}

.research-upg-div > button.locked {
    background-color: #555;
    cursor: default;
}

.research-upg-div > .remove_btn {
    position: absolute;
    top: 0;
    right: 100%;
    padding: 0;
    margin: 0;

    background-color: red;

    border: solid 3px black;
    border-radius: 15px 0 0 15px;

    color: white;
    font-size: 30px;

    cursor: pointer;
}

.research-upg-div > .charge_btn {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0;
    margin: 0;

    background-color: cyan;

    border: solid 3px black;
    border-radius: 0 15px 15px 0;

    color: white;
    font-size: 20px;

    cursor: pointer;
}

.research-upg-div > div.afford {
    background-color: #aaa;
    cursor: pointer;
}

.research-upg-div > div.bought {
    background-color: green;
}

.research-upg-div > div::after {
    position: absolute;

    top: 3px;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    content: "";

    transition: opacity 0.25s;
    opacity: 0;
    box-shadow: inset 0 0 15px 10px cyan;
}

.research-upg-div > div.charged::after {
    opacity: 1;
}

.research-upg-div > div > div {
    width: calc(100% - 10px);
    position: absolute;
    z-index: 1;
}

button.tab-btn {
    font-size: 20px;
}

.charge-btn {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 10px;
    background-color: #555;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    cursor: pointer;
    border: solid 0px white;
}

.charge-btn:not(.choosed):hover {
    background-color: #777;
}

.charge-btn.choosed {
    background-color: #337;
    width: 120px;
    height: 120px;
    margin: 6px;
    border-width: 4px;
}

.charge-btn::after {
    position: absolute;
    width: 100%;
    height: var(--percent);
    bottom: 0;
    left: 0;
    background-color: #00bbff;
    content: "";
    transition-duration: 0.25s;
}

.charge-btn > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 24px;
    pointer-events: none;
}

.charge-row-info {
    position: relative;
    width: 30px;
    height: 120px;
    margin: 10px 5px;
    background-color: #333;
    font-size: 20px;
}

.charge-column-info {
    position: relative;
    width: 120px;
    height: 30px;
    margin: 5px 10px;
    background-color: #333;
    font-size: 20px;
}

.charge-row-info > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.double-milestone {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    background-color: #333;
}

.double-milestone.reached {
    background-color: #030;
}